########################################
# Account (Ledger) Database
########################################

ACCOUNT_DB_HOST=localhost
ACCOUNT_DB_PORT=3306
ACCOUNT_DB_NAME=ledger_db
ACCOUNT_DB_USER=your_db_user
ACCOUNT_DB_PASSWORD=your_db_password
