<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssafy17.team4.bank.core.account.adapter.out.persistence.mybatis.mapper.AccountMapper">
    <insert id="insertAccount"
            parameterType="ssafy17.team4.bank.core.account.adapter.out.persistence.mybatis.entity.AccountEntity"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO account (customer_id, product_code, currency, status, created_at, updated_at)
        VALUES (#{customerId}, #{productCode}, #{currency}, #{status}, NOW(), NOW())
    </insert>

</mapper>
